.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #0d3455;
}

.childOne{
    /* border: 1px solid yellow; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.childTwo{
    border: 1px solid white;
    color: white;
    width: 15%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.image{
    width: 85%;
    height: 85%;
}















.darkContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color:black;
}
.darkChildTwo{
    border: 1px solid yellow;
    color: yellow;
    width: 15%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





/* medium screen */
@media all and (min-width:680px) and (max-width:1024px){
    .navBar{
        display: none;
    }
}





/* small screen */
@media all and (min-width:320px) and (max-width:679px){
    .container{
        display: block;
        height: 400px;
    }

    .childOne{
        width: 100%;
        height: 80%;
    }
    
    
    .childTwo{
        color: white;
        width: 30%;
        height: 20%;
        margin-left: 35%;
        margin-top: -3%;
    }



    .darkContainer{
        display: block;
        height: 400px;
        background-color:black;
    }
    .darkChildTwo{
        border: 1px solid yellow;
        color: yellow;
        width: 30%;
        height: 20%;
        margin-left: 35%; 
       margin-top: -3%;
    }
}


@media all and (min-width:1024px) and (max-width:2500px){
   .image{
    width: 85%;
    height: 85%;
}
}